﻿.padre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll {
    height: 287px;
    background: white;
    overflow-y: scroll;
    margin-bottom: 25px;
}

.style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #EDEDED;
}


p {
    font-family: SansOri,Arial,Helvetica,sans-serif;
    font-size: 13px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color: #555;
    font-weight: bold;
}
