﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ConditionsEEUU_AF.aspx.cs" Inherits="SantaNaturaNetworkV3.ConditionsEEUU_AF" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <style>
        p{
            text-align: justify;
            width: 80%;
            margin: 0 auto 50px;
        }

        h1{
            text-align: center
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>ONLINE TERMS AND CONDITIONS OF SANTA NATURA</h1>
             <br />
            <p>These General Terms and Conditions for Online Sales (hereinafter referred to as “Agreement”) apply to all purchase orders you place on the Santa Natura online store located at https://tienda.mundosantanatura.com (hereinafter referred to as “Website”) and your subsequent agreement with NWN LLC (hereinafter referred to as “Supplier”) regarding your purchase of natural, agro-industrial, nutritional, food, and cosmetic products.<br /><br />
<strong>1.      SCOPE OF AGREEMENT. </strong><br /><br />
The products presented on our Website do not represent an offer but shall be understood as a non-binding invitation for the customer to submit an order. By clicking the “Submit order” button, you send us a binding offer for the execution of a purchase agreement with Supplier regarding the natural, agro-industrial, nutritional, food, and cosmetic products in your shopping cart (hereinafter referred to as “Order”). Supplier, upon acceptance of an Order placed by Buyer, will supply the products and services specified in the Order (the “Work”) to Buyer, pursuant to the terms and conditions of this Agreement and its exhibits and Supplier’s acceptance of such order submitted by Buyer is expressly limited to the terms and conditions of this Agreement notwithstanding any contrary provision contained in Buyer’s purchase orders, invoices, acknowledgements or other documents. The details of the Work (e.g. quantity, price, and product specifications) shall be set forth in the relevant Order. 
These terms and conditions are part of a pilot program that Supplier is conducting and the updated terms and conditions will be launched on July 28th, 2021 and shall retroactively replace this Agreement as of the execution date thereof.<br /><br />
<strong>2.      PRICE AND TERMS. </strong><br /><br />
If you place an Order through our Website, the ordering process comprises four steps: You select the desired goods (natural, agro-industrial, nutritional, food, and cosmetic products). You check all items in your shopping cart and apply any necessary changes. You click the “Check out” button to proceed to payment. If you have not already done so, you log into your user account with username and password and enter the required customer data for the invoice. Finally, on the “Checkout” page, you select the preferred method of payment and confirm your acceptance of the conditions that shall apply to the purchase. Here, you can again change the invoice details, check your purchase data and return to the cart by clicking “Back to cart”. By clicking “Submit order”, your Order becomes binding. With our order confirmation and/or delivery, we will send you a copy of the corresponding Order, including the corresponding invoice, to your email address. 
(a) The prices payable by Buyer for goods and services to be supplied by Supplier under this Agreement will be specified in the applicable Order. Unless otherwise expressly stated in an Order, all prices exclude shipping and taxes. (b) Payment terms are net at checkout. If Buyer does not pay an invoiced amount within terms, Buyer will in addition pay finance charges of one and one-half percent (1.5%) per month on the late balance and Supplier reserves the right to (1) withhold shipment of the Work until full payment is made; and/or (2) revoke any credit extended to Buyer. In the event that Buyer’s account is more than ninety (60) days in arrears, Buyer shall reimburse Supplier for the reasonable costs, including attorney’s fees, of collecting such amounts from Buyer. (c) Upon reasonable request by the Supplier, Buyer shall provide copies of its most recent audited financial statements or other reasonable evidence of its financial capacity and such other information as Supplier reasonable requests to determine credit status or credits limits. (d) Pricing schedules (whether attached to this Agreement or an Order) are subject to change upon a change in the price of applicable raw materials (as reflected on a recognized trade or commodity pricing tracker) in excess of five percent (5%) from the date of such schedule. (e) Unless otherwise specified in the Order, Work will be delivered FOB Supplier’s manufacturing facility and will be shipped to Buyer via carriers selected by Supplier. f) Buyer accepts that the Supplier may at its sole discretion at any time and without prior notice to the Buyer, change the delivery date of the Order. g) The Buyer accepts and shall bear at its own expense all taxes and banking fees in relation with the Order.  
Supplier may, at its discretion, accept or reject the Order. Supplier will accept your Order by sending an order confirmation or simply by delivering the ordered Work to Buyer. Unless otherwise stated, the effective date of this Agreement is the date on which Supplier confirms by email the acceptance of your Order to the address indicated in your Order. In case of purchase on advance payment, the purchase agreement is subject to the condition of and shall become binding for Supplier only upon receipt of the full payment for the purchase.
In the event of obvious errors on the Website or made in connection with your Order, Supplier reserves the right to correct the error and setoff the correct price from your account. In such a situation, we will contact you and offer you the option of purchasing the Work at the correct price or cancelling your Order. 
You can select one of the payments methods described on the Website. Supplier reserves the right to exclude or include particular payment methods at any time. If your payment has not been made upon receipt of the invoice, Supplier will have the right to rescind the contract; the right of Supplier to raise claims for damages on such grounds shall not be affected thereby. In the event of any payment delay, Supplier shall have the right to charge default interest in the amount of 18% (eighteen percent).
By clicking the “I consent” button, you expressly agree to the terms and conditions of this Agreement and both parties hereby represent and warrant, that they will comply with the terms and conditions contained herein.<br /><br />
<strong>3.      RANKING. </strong><br /><br />
To stimulate development and growth, the Santa Natura Network places determined goals that the SNN Entrepreneur must reach in a specific period of time.
Each rank is worthy of acknowledgement by the Santa Natura Network and its Managers, starting with Sapphire. SNN Entrepreneur’s will receive a corresponding pin at official events.  
Following is a table listing the multilevel ranking: 
	BASIC PACK	PROFESSIONAL PACK	BUSINESS PACK	MILLIONAIRE PACK	IMPERIAL PACK
1st level	30%	30%	30%	30%	30%
2nd level	-	5%	5%	5%	5%
3rd level	-	-	3%	3%	3%
4th level	-	-	-	2%	2%
5th level	-	-	-	-	1%

To take advantage of the group points during the first period, the SNN Entrepreneur must complete in the second period the following requirements: (i) be active with the minimum personal points for the desired rank, and (ii) have 2 direct actives.  <br /><br />
<strong>4.      BUYER MATERIALS AND DATA. </strong><br /><br />
(a) Buyer represents and warrants that any matter it furnishes for performance of services by Supplier (i) does not infringe any copyright or trademark or other Intellectual Property Rights of any third party; (ii) is not libelous or obscene; (iii) does not invade any persons right to privacy; and (iv) does not otherwise violate any laws or infringe the rights of any third party. (b) Buyer warrants that it has the right to use and to have Supplier use on behalf of Buyer any data provided to Supplier or its Affiliates by Buyer including specifically customer names, identifying information, addresses and other contact information and related personal information (“Data”). Buyer further warrants that it will designate on the applicable Order if Data provided pursuant to that Order is subject to HIPAA, Gramm-Leach-Bliley or other statutes providing enhanced data protection or requiring enhanced data security procedures.
Regarding online payments, Buyer shall provide payment details. Online payment information related to your Order is processed by Supplier’s payment service provider PayPal. Supplier does not receive detailed information (such as your credit card number) from transactions but instead receives information about whether the payment has been performed successfully or not. By placing an Order, Buyer agrees that contact and payment information, can be used for payment processing and executing the Order.<br /><br />
<strong>5.      INTELLECTUAL PROPERTY.  </strong><br /><br />
Any and all inventions, discoveries, patent applications, patents, copyrights, trademarks and trade names, commercial symbols, trade secrets, work product and information embodying proprietary data existing and owned by Supplier as of the date of the Order or made or conceived by employees, consultants, representatives or agents of Supplier during the term of this Agreement shall be and remain the sole and exclusive property of Supplier. Without limiting the generality of the foregoing, the parties agree that Supplier will own systems (including all web source code) related to the Services provided hereunder, including all modifications, upgrades and enhancements thereto made during the term of the Order. Without limiting the generality of the foregoing, Buyer acknowledges and agrees that Supplier is in the business of developing natural, agro-industrial, nutritional, food, and cosmetic products, and that Supplier shall have the right to provide to third parties services which are the same or similar to the services provided herein and to use or otherwise exploit any Supplier materials in providing such services.<br /><br />
<strong>6.      CONFIDENTIAL INFORMATION. </strong><br /><br />
Any information that parties receive or otherwise have access to incidental to or in connection with this Agreement (collectively, the “Confidential Information”), shall be and remain the property of the disclosing party. Confidential Information shall not include information which: (i) was in the possession of the Receiving Party at the time it was first disclosed by the Disclosing Party; (ii) was in the public domain at the time it was disclosed to the Receiving Party; (iii) enters the public domain through sources independent of the Receiving Party and through no breach of this provision by the Receiving Party; (iv) is made available by the Disclosing Party to a third party on an unrestricted, non-confidential basis; (v) was lawfully obtained by the Receiving Party from a third party not known by the Receiving Party to be under an obligation of confidentiality to the Disclosing Party; or (vi) was at any time developed by the Receiving Party independently of any disclosure by the Disclosing Party. Confidential Information may be used to the extent necessary to perform this Agreement and the parties shall not disclose Confidential Information to any third party, except to its agents (who have executed confidentiality agreements containing terms substantially similar to the terms) as necessary to provide the Work hereunder. In no event shall Buyer acquire any right, title or interest in and to any product or process information, including related know how, either existing or developed during the course of the business relationship with Supplier and Buyer, and in no event shall Supplier acquire and right, title, or interest in and to any materials or information provided to it by Buyer.<br /><br />
<strong>7.      INDEMNIFICATION. </strong><br /><br />
The indemnifying party, as Indemnitor, shall indemnify, defend and hold harmless the indemnified party, as Indemnitee, its officers, directors, employees, agents, subsidiaries, and other affiliates from and against any and all claims, damages, liabilities, and expenses (including attorney fees) arising from any third-party claim based on Indemnitor’s (or its agent’s) breach of any representation, warranty, covenant, agreement, or obligation under the Order or this Agreement, or Indemnitor’s (or its agent’s) grossly negligent and/or willful acts in carrying out its obligations under the Order or the Agreement, provided that in no event shall Supplier be responsible for any claims arising out of its compliance with instructions, requirements, or specifications provided by or required by Buyer (including the use of information, artwork, logos, and/or trademarks provided by Buyer). Neither party will be responsible for indemnifying another party hereto where the basis of the indemnity claim arises out of such other party’s own negligence or willful misconduct. In order to avail itself of this indemnity provision, Indemnitee shall promptly provide notice to Indemnitor of any such claim, tender the defense of the claim to Indemnitor, and cooperate with Indemnitor in the defense of the claim. Indemnitor shall not be liable for any cost, expense, or compromise incurred or made by Indemnitee in any legal action without the Indemnitor’s prior written consent.<br /><br />
<strong>8.      BREACH. </strong><br /><br />
In addition to all other rights to which a party is entitled under this Agreement, if either party breaches any term of the Order or the Agreement, the non-breaching party shall have the right to: (a) terminate the Order immediately upon written notice to the other party; and (b) seek to obtain injunctive relief to prevent such breach or to otherwise enforce the terms of this Agreement. Failure to properly demand compliance or performance of any term of the Order or this Agreement shall not constitute a waiver of Supplier’s rights hereunder and prior to any claim for damages being made for non-conformance or breach, Buyer shall provide Supplier with reasonable notice of any alleged deficiencies in the Work or performance under the Order or this Agreement and Supplier shall have a reasonable opportunity to cure any such alleged non-conformance or breach.<br /><br />
<strong>9.      WARRANTY. </strong><br /><br />
Supplier warrants that the Work shall reasonably conform to specifications in all material respects. If applicable and at Supplier’s option, Supplier may provide Buyer with a sample. If a sample has been provided, once Buyer approves a sample, Buyer will be liable for all fees associated with the order, as specified in the Order. If Buyer supplies Supplier stock or items as part of the Order, Supplier is not responsible for issues related to the quality of the stock or items. Supplier will not provide refunds for any Work conforming to specifications in all material respects. Other than the warranties set forth in this section, Supplier makes no warranty of any kind, expressed or implied or otherwise whatsoever, that the services performed, or any items produced will be merchantable or fit for any particular purpose or use. In the event of any breach of any warranty specified in this provision, Buyer’s exclusive remedy shall be that Supplier shall, at its option, repair or replace any defective goods at no cost to Buyer or refund any purchase price paid for such Work.<br /><br />
<strong>10.  LIMITATION OF LIABILITY. </strong><br /><br />
Supplier shall not be liable for any loss, damage, delay, duty, tax or fine, indirect or consequential loss, non-performance of any obligations, mis-delivery, misdirection, costs, expenses, death or injury of whatsoever nature and howsoever. Supplier shall not have any liability whatsoever for claims arising from: 
(a)	an act or omission of the Supplier or any person acting on their behalf;
(b)	Supplier complying with the instructions given by or on behalf of the Buyer;
(c)	an act or order of any Authority; 
(d)	the insufficiency of the packing or labelling of the products or containers except where such service has been provided by Supplier; 
(e)	the handling, loading, stowage or unloading of the products by the Buyer or any person acting on their behalf; 
(f)	the nature of the products; 
(g)	the defective condition of or overweight containers or vehicles; 
(h)	riots, civil commotions, strikes, lockouts, stoppage or restraint of labor; 
(i)	explosion, fire, flood or storm;
(j)	the breakdown of or failure or any handling equipment of Supplier, providing Supplier has complied with such testing and maintenance standards for the equipment as are customary in Supplier’s business and country; 
(k)	the breakdown of, accident, failure or interruption of or reduction in the mains electrical supply to Supplier, it being agreed that Supplier is under no obligation to have available any auxiliary power supply; 
(l)	any cause which Supplier could not avoid and the consequences whereof it could not prevent by the exercise of reasonable diligence;
(m)	unless specifically agreed to in writing, Supplier shall not be required to store products in a humidity-controlled environment or be responsible for tempering products
IN NO EVENT SHALL EITHER PARTY BE LIABLE HEREUNDER FOR INCIDENTAL, SPECIAL, INDIRECT, CONSEQUENTIAL, OR PUNITIVE DAMAGES EVEN IF ADVISED IN ADVANCE OF THE POSSIBILITY FOR SUCH DAMAGES AND VENDOR’S TOTAL LIABILITY FOR DAMAGES UNDER THIS AGREEMENT AND THE ORDER SHALL BE LIMITED TO THE TOTAL FEES DUE HEREUNDER FOR THE INVOICE UPON WHICH A CLAIM IS BASED. NOTHING HEREIN CONTAINED SHALL BE CONSTRUED AS CREATING ANY LIABILITY ON SUPPLIER INDIVIDUALLY OR PERSONALLY, TO PERFORM ANY COVENANT EITHER EXPRESSED OR IMPLIED CONTAINED HEREIN, ALL SUCH LIABILITY, IF ANY, BEING EXPRESSLY WAIVED BY THE PARTIES HERETO AND BY ANY PERSON CLAIMING BY, THROUGH OR UNDER THE PARTIES HERETO AND UNDER NO CIRCUMSTANCES SHALL SUPPLIER BE PERSONALLY LIABLE FOR THE PAYMENT OF ANY INDEBTEDNESS OR EXPENSES OF THE BUYER OR BE LIABLE FOR THE BREACH OR FAILURE OF ANY OBLIGATION, REPRESENTATION, WARRANTY OR COVENANT MADE OR UNDERTAKEN BY THE BUYER UNDER THIS AGREEMENT OR OTHER RELATED DOCUMENT TO THIS AGREEMENT.<br /><br />
<strong>11.  NOTICE. </strong><br /><br />
Any notice sent pursuant to the Order or this Agreement shall be sent by certified mail, return receipt requested, or by overnight mail to the addresses on the Order or to such address as either party may in the future designate. A copy of any notice to Supplier shall be also sent to General Counsel, Clemente Vivanco, 201 Alhambra Cir Suite 600, Coral Gables, FL 33134 together with a copy this Agreement. Notices shall be effective upon receipt.<br /><br />
<strong>12.  ASSIGNMENT. </strong><br /><br />
Except as otherwise provided, the Order and this Agreement shall be binding upon and inure to the benefit of the parties’ successors and lawful assigns.<br /><br />
<strong>13.  STATUS. </strong><br /><br />
Buyer and Supplier are separate entities. Nothing in the Order or this Agreement shall be construed as creating an employer-employee or joint venture relationship. <br /><br />
<strong>14.  COMPLIANCE WITH LAW. </strong><br /><br />
Each party shall comply with all state, federal and local laws and regulations applicable to its performance hereunder. <br /><br />
<strong>15.  GOVERNING LAW. </strong><br /><br />
The Order and this Agreement shall be governed by the laws of the State of Florida, without reference to conflicts of law principles. Any legal suit, action or proceeding arising out of or relating to the Order or these this Agreement shall be commenced in a federal court in Florida or in state court in the County of Miami-Dade, Florida, and the appellate courts thereof, and each party hereto irrevocably submits to the exclusive jurisdiction and venue of any such court in any such suit, action or proceeding. With respect to any litigation arising out of the Order or this Agreement, the parties expressly waive any right they may have to a jury trial and agree that any such litigation shall be tried by a judge without a jury and the prevailing party shall be entitled to recover its expenses, including reasonable attorney’s fees, from the other party.<br /><br />
<strong>16.  FORCE MAJEURE. </strong><br /><br />
Neither party shall be liable for any failure to perform or delay in performance of this Agreement to the extent that any such failure arises from acts of God, war, civil insurrection or disruption, riots, government act or regulation, strikes, lockouts, labor disruption, cyber or hostile network attacks, inability to obtain raw or finished materials, inability to secure transport, or any cause beyond such party’s commercially reasonable control. <br /><br />
<strong>17.  SURVIVAL. </strong><br /><br />
In the event any provision of the Order or this Agreement is held by a tribunal of competent jurisdiction to be contrary to the law, the remaining provisions of the Order or this Agreement will remain in full force and effect. All sections herein relating to payment, ownership, confidentiality, indemnification and duties of defense, representations and warranties, waiver, waiver of jury trial and provisions which by their terms extend beyond the Term shall survive the termination of the Order and this Agreement.<br /><br />
<strong>18.  ENTIRE AGREEMENT. </strong><br /><br />
The Order, this Agreement and the operative provisions of any quotation issued by Supplier and any purchase order issued by Buyer, sets forth the entire agreement and understanding among the parties as to the subject matter hereof, and merges and supersedes all prior discussions, agreements, and understandings of every and any nature among them. No proposal, purchase order, order confirmation, acceptance, or any other document provided by either Party to the other, nor any terms of use or similar online consent or acceptance language accompanying or set forth as a prerequisite to any electronic interface or utility associated with any Work, shall be deemed to amend the terms hereof and any such contradictory or additional terms shall be ineffective. No party shall be bound by any condition, definition, warranty, or representations, other than as expressly set forth or provided for in the Order or this Agreement, or as may be, on or subsequent to the date hereof set forth in writing and signed by the party to be bound thereby. In the event of any ambiguity or conflict between any of the terms and conditions contained in this Agreement and the terms and conditions contained in an Order, the terms and conditions of this Agreement shall control, unless the Parties have expressly provided in such Order that a specific provision in this Agreement is amended, in which case this Agreement shall be so amended, but only with respect to such Order. The Order or this Agreement may not be amended, supplemented, changed, or modified, except by agreement in writing signed by the parties to be bound thereby. 
</p>
        </div>
    </form>
</body>
</html>
